<!-- Navbar  -->
<header class="navbar_v">
  <div class="nav_b">
    <a href="/" class="logo">ISSUE TRACKER</a>
    <a href="/createproject" class="createProject_btn">
      <i class="fa-solid fa-plus"></i><span class="createProject_btn_span">Create Project</span>
    </a>
  </div>
</header>