/* Body Css */
body {
  margin: 0;
  padding: 0;
  background-color: azure !important;
  font-family: "Montserrat", sans-serif;
}

/* Goblal Css */
main {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none !important;
}

/* Navbar CSS */
.navbar_v {
  width: 100%;
  height: 30%;
  padding: 1rem 0rem;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.nav_b {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.logo {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: black;
  color: white;
}

.createProject_btn {
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: blue;
  color: white;
  font-weight: 500;
}

.createProject_btn_span {
  margin-left: 0.3rem;
}

/* Page Content css*/
.container {
  margin: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 40%;
  border-top: 2px solid rgb(92, 135, 192);
  background-color: white;
  box-shadow: 0px 3px 8px 4px rgb(167 166 166 / 20%);
  margin: 1rem 0.5rem;
}

.card:hover {
  background-color: rgba(92, 135, 192, 0.068);
}

.card_content {
  padding: 1rem;
}

.card_title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.5rem 0 0.3rem 0;
  color: rgb(75, 110, 156);
}

.card_author {
  color: rgb(88, 112, 143);
  font-size: 0.8rem;
  /* font-weight: 400; */
}

.card_desc {
  font-size: 0.9rem;
  color: rgb(60, 60, 60);
}

/* Create Project Page Css */
.createProject_card {
  padding: 1rem;
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 8px 4px rgba(167, 166, 166, 0.284);
  border-radius: 0.5rem;
}

.createProject-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.label {
  color: rgb(56, 65, 78);
  font-weight: 500;
  font-size: 1rem;
}

.inputClass {
  width: 75%;
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: 1px solid gray;
}

.inputClass:focus {
  outline: none;
}

.createProject-title {
  color: rgb(53, 82, 120);
}

.submitBtn {
  color: white;
  background-color: blue;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

/* Project Details Page */
.project_card {
  width: 60%;
  border-top: 2px solid rgb(92, 135, 192);
  background-color: white;
  box-shadow: 0px 3px 8px 4px rgb(167 166 166 / 20%);
  margin: 1rem 0.5rem;
}

.content-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(238, 235, 235, 0.782);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.project_card_desc {
  font-size: 0.8rem;
  color: rgb(60, 60, 60);
  border-bottom: 1px solid rgba(238, 235, 235, 0.782);
  padding: 1rem 0;
}

.project_card_issueHeading {
  color: rgb(75, 110, 156);
}

.project_card_noIssueHeading {
  display: flex;
  justify-content: center;
}

.issue_container {
  display: flex;
  flex-direction: column;
}

.issue_row {
  margin: 0.5rem;
  /* box-shadow: 0px 3px 3px 2px rgb(167 166 166 / 20%); */
  border: 1px solid rgba(128, 128, 128, 0.211);
  border-left: 3px solid rgb(89, 89, 198);
}

.issue_row_content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(53, 82, 120, 0.128);
  padding: 1rem;
}

.issue_title {
  font-weight: 600;
  color: rgb(53, 82, 120);
}

.issue_author {
  color: rgb(53, 82, 120);
  font-size: 0.8rem;
}

.issue_desc {
  font-size: 0.8rem;
  color: rgb(60, 60, 60);
  padding: 1rem 1rem 0rem 1rem;
}

.issue_label {
  display: flex;
  flex-wrap: wrap;
  margin: 0.2rem 0.5rem 1rem 0.7rem;
}

.issue_label_class {
  padding: 0.5rem;
  margin: 0.5rem 0.2rem;
  background-color: rgb(255, 52, 52);
  color: white;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.project_card_createIssue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.createIssue_btn {
  display: inline;
  background-color: red;
  padding: 0.5rem;
  color: white;
  font-size: 0.8rem;
  border-radius: 0.5rem;
}

.createIssue_btn_span {
  margin-left: 0.3rem;
}

/* Footer Css */
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 0.5rem 0;
  box-shadow: 0.125rem 0 0.55rem rgba(0, 0, 0, 0.149);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}

.project_card_searchIssue {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0.5rem;
}

.project_card_searchIssue>.createIssue_btn {
  background-color: rgb(118, 118, 226);
}

/* Media query for Responsive */

@media (max-width: 992px) {
  .card {
    width: 50%;
  }

  .createProject_card {
    width: 70%;
  }

  .project_card {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 80%;
  }

  .createProject_card {
    width: 90%;
  }

  .project_card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }

  .input {
    flex-direction: column;
    align-items: center;
  }

  .label {
    margin: 0.5rem;
  }

  .container {
    margin: 3rem 0.5rem;
  }

  .createProject_card {
    width: 100%;
  }

  .project_card {
    width: 100%;
  }
}